@import "../../../variant-colors.scss";

.main-section {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  gap: 32px;

  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $zinc-950;

  p {
    color: $zinc-300;
    font-weight: 400 ;
  }  
}
