<form class="goal-form" [formGroup]="useForm" (ngSubmit)="onSubmit()">
  <div class="practice-wrapper">
    <div class="head-form">
      <div class="header-wrapper">
        <h2>Cadastrar meta</h2>
        <button mat-dialog-close>
          <span class="material-icons">close</span>
        </button>
      </div>

      <p>
        Adicione atividades que <span>te fazem bem</span> e que você quer
        continuar praticando toda semana.
      </p>
    </div>
    <div class="activity-section">
      <label for="activity">Qual a atividade?</label>
      <input
        type="text"
        id="activity"
        formControlName="activity"
        placeholder="Praticar exercícios, meditar, etc..."
      />
    </div>

    <div class="frequency-section">
      <h3 class="frequency">Quantas vezes na semana?</h3>
      <div class="frequency-options">
        <div class="frequency-option">
          <input
            type="radio"
            id="frequency-1"
            name="frequency"
            formControlName="frequency"
            value="1"
          />
          <label for="frequency-1">1x na semana</label>
          <span>🥱</span>
        </div>
        <div class="frequency-option">
          <input
            type="radio"
            id="frequency-2"
            name="frequency"
            formControlName="frequency"
            value="2"
          />
          <label for="frequency-2">2x na semana</label>
          <span>🙂</span>
        </div>
        <div class="frequency-option">
          <input
            type="radio"
            id="frequency-3"
            name="frequency"
            value="3"
            formControlName="frequency"
            checked
          />
          <label for="frequency-3">3x na semana</label>
          <span>😎</span>
        </div>
        <div class="frequency-option">
          <input
            type="radio"
            id="frequency-4"
            name="frequency"
            value="4"
            formControlName="frequency"
          />
          <label for="frequency-4">4x na semana</label>
          <span>🤨</span>
        </div>
      </div>
      <div class="frequency-option">
        <input
          type="radio"
          id="frequency-5"
          name="frequency"
          formControlName="frequency"
          value="5"
        />
        <label for="frequency-5">5x na semana</label>
        <span>😜</span>
      </div>
      <div class="frequency-option">
        <input
          type="radio"
          id="frequency-6"
          name="frequency"
          formControlName="frequency"
          value="6"
        />
        <label for="frequency-6">6x na semana</label>
        <span>🤯</span>
      </div>
      <div class="frequency-option">
        <input
          type="radio"
          id="frequency-7"
          name="frequency"
          value="7"
          formControlName="frequency"
        />
        <label for="frequency-7">Todos dias da semana</label>
        <span>🔥</span>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <button mat-dialog-close>Fechar</button>
    <button type="submit" [disabled]="!useForm.valid">
      @if (!loading()) { Salvar }@else {carregando...}
    </button>
  </div>
</form>
