$primary-text: #F4F4F5;
$button-bg-violet: #8B5CF6;
$btn-text-primary: #F5F3FF;
$btn-bg-primary: #8B5CF6;
$btn-primary-hover: #7C3AED;


$zinc-300:#D4D4D8;
$zinc-500:#71717A;

$zinc-600:#52525B;
$zinc-800: #27272A;
$zinc-900:#18181B;
$zinc-950:#09090B;
$zinc-50:#FAFAFA;


